<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/view_allocated_sub">VIEW ALLOCATED SUBJECT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_notes">MANAGE NOTES</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_doubt">DOUBT CLEARANCE</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_student_result">MANAGE STUDENT RESULT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/">LOGOUT</a></th>
  </tr>
</table>
</body>
</html>