<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/view_staff">MANAGE STAFF</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_course">MANAGE COURSE</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_sub">MANAGE SUBJECT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_student">MANAGE STUDENT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sub_allocation">ALLOCATE SUBJECT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_staff_perfomance">VIEW STAFF PERFOMANCE</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/">LOGOUT</a></th>
  </tr>
</table>
</body>
</html>