{% extends 'admin/admin_index.html' %}
{% block body %}
<body>
<form name="form1" method="post" action="">
  <table border="0" class="table table-striped">
    <tr>
      <th scope="row">NAME</th>
      <td>PLACE</td>
      <td>PHONE</td>
      <td>EMAIL</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   {% for i in data %}
       <tr>
      <td>{{ i['name'] }}</td>
      <td>{{ i['place'] }}</td>
      <td>{{ i['phone'] }}</td>
      <td>{{ i['email'] }}</td>
      <td><a href="edit_staff?id={{ i['staff_lid'] }}#about">EDIT</a></td>
      <td><a href="delete_staff?id={{ i['staff_lid'] }}">DELETE</a></td>
    </tr>
      {% endfor %}
    <tr>
      <th colspan="6" scope="row"><a href="/add_staff#about">ADD</a></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}